<div class="container">
    <h2>Ajouter un film</h2>
    <hr />
    <form (submit)="addMovie($event)">
      <div>
        <label for="title">Titre :</label>
        <input
          type="text"
          id="title"
          name="title"
          [(ngModel)]="movies.title"
          required
        />
      </div>
      <div>
        <label for="description">Description:</label>
        <input
          type="text"
          id="description"
          name="description"
          [(ngModel)]="movies.description"
          required
        />
      </div>
      
      <button type="submit" id="add">
        <i class="fa fa-arrow-right"></i> Ajouter
      </button>
    </form>

