<div class="container">
  <h2>Ajouter un contact</h2>
  <hr />
  <form (submit)="addContact($event)">
    <div>
      <label for="firstName">Prénom:</label>
      <input
        type="text"
        id="firstName"
        name="firstName"
        [(ngModel)]="contacts.firstName"
        required
      />
    </div>
    <div>
      <label for="lastName">Nom:</label>
      <input
        type="text"
        id="lastName"
        name="lastName"
        [(ngModel)]="contacts.lastName"
        required
      />
    </div>
    <div>
      <label for="age">Âge:</label>
      <input
        type="number"
        id="age"
        name="age"
        [(ngModel)]="contacts.age"
        required
      />
    </div>
    <div>
      <label for="email">E-mail:</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="contacts.email"
        required
      />
    </div>
    <div>
      <label for="phone">Téléphone:</label>
      <input
        type="tel"
        id="phone"
        name="phone"
        [(ngModel)]="contacts.phone"
        required
      />
    </div>
    <label for="pet-select">Choose a pet:</label>

    <select name="sort" id="sort" [(ngModel)]="sortingType">
      <option value="">--Please choose an option--</option>
      <option value="id">Id</option>
      <option value="firstName">FirstName</option>
      <option value="lastName">LastName</option>
      <option value="age">Age</option>
      <option value="email">Email</option>
      <option value="phone">Phone</option>
    </select>
    <button type="submit" id="add">
      <i class="fa fa-arrow-right"></i> Ajouter le contact
    </button>
  </form>
</div>
